# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
*.env

# Django stuff
*.log
staticfiles/
media/

# VS Code
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db
